<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330713103993-l47f0v1hbp9s26pj4nbredi7ncts8dr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330713103993-l47f0v1hbp9s26pj4nbredi7ncts8dr9</string>
	<key>API_KEY</key>
	<string>AIzaSyAwvvdI7bqW3Eg9PnhRTNoJN6aF8niSOz0</string>
	<key>GCM_SENDER_ID</key>
	<string>330713103993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.landing25</string>
	<key>PROJECT_ID</key>
	<string>plantilla25-7dc89</string>
	<key>STORAGE_BUCKET</key>
	<string>plantilla25-7dc89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330713103993:ios:a949abde5492802ba09ea8</string>
</dict>
</plist>